// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form21 {
    margin-top: 30%;
    margin-left: 20%;
}

#buttona {
    position: absolute;
    top: 40px;
    right: 50px;
}